In [1]:
# if elif else

In [11]:
hungry = True;

In [12]:
if hungry is True:
    print('Im Hungry Lets Eat')
else:
    print ('Im Full')

Im Hungry Lets Eat

In [20]:

hungry = True

if hungry:
    print('Lets Eat')
else:
    print ('Im Full')

Lets Eat

In [26]:
loc = 'gamr'


if loc =='Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print ('Money is cool')
elif loc == 'Store':
    print(' in the store')
else:
    print('I do not know much')

I do not know much

In [30]:
name = 'Kevin'

if name =='Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print ('Hello Sammy')
else:
    print ('What is your name')

What is your name

In [31]:
# For Loops ***

In [32]:
my_list = [1,2,3,4]

In [33]:
for i in my_list:
    print(i)

1
2
3
4

In [34]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [35]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [36]:
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [37]:
for num in mylist:
    #check for even
    if num %2==0:
        print (num)

2
4
6
8
10

In [47]:
for num in mylist:
    if num %2==0:
        print (f'Even Number {num}')
    else:
        print (f' Odd Number {num}')

 Odd Number 1
Even Number 2
 Odd Number 3
Even Number 4
 Odd Number 5
Even Number 6
 Odd Number 7
Even Number 8
 Odd Number 9
Even Number 10

In [48]:
list_sum = 0
for num in mylist:
    list_sum = list_sum+num
    
print(list_sum)

55

In [17]:
loop = [1,2,3,4,5,6,7,8,9,10]
s1 = 0
for n in loop:
    s1 = s1 + n
    print (s1)

1
3
6
10
15
21
28
36
45
55

In [19]:
mystring = 'Hello World'

for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [20]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [21]:
mylist =[(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [27]:
for a,b in mylist:
    print(b)

2
4
6
8

In [29]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [30]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [31]:
for a,b,c in mylist:
    print(b)

2
6
9

In [40]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.values():
    print(item)

1
2
3

In [41]:
#while loops

In [42]:
#while some boolean condition:
    #do something

In [ ]:
x = 0
print('Hello')

In [1]:
print ('Hello')

Hello

In [10]:
x = 0
num_loops = 10
while x<num_loops:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')
    
print ('end script')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5
The current value of x is 6
The current value of x is 7
The current value of x is 8
The current value of x is 9
x is not less than 5
end script

In [11]:
x = [1,2,3]

for item in x:
    pass

print ("End Script")

End Script

In [12]:
mystring = 'Sammy'

In [16]:
for letter in mystring:
    if letter == 'a':
        continue    print(letter)

S
m
m
y

In [ ]:
x = 0

while x < 5:
    if x == 2:
        continue
    print(x)
    x+=1

0
1

In [ ]:
#built in operators

In [ ]:
#range function

In [4]:
for num in range(0,10,2):
    print (num)

0
2
4
6
8

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [12]:
index_count = 0
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [18]:
#zip function

mylist1 = [1,2,3,4,5]
mylist2=['a','b','c']
mylist3 = [100,200,300]

In [22]:
for ia,b,c in zip(mylist1,mylist2,mylist3):
    print(c)

100
200
300

In [21]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [25]:
2 in [1,2,3]

True

In [24]:
'x' in ['x','y','z']

True

In [26]:
mylist = [10,20,30,40,100]

In [28]:
min(mylist)

10

In [30]:
max(mylist)

100

In [31]:
from random import shuffle

In [32]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
shuffle(mylist)

In [34]:
mylist

[3, 6, 5, 7, 1, 10, 2, 8, 9, 4]

In [35]:
shuffle(mylist)

In [36]:
mylist

[7, 6, 5, 9, 2, 3, 4, 1, 10, 8]

In [37]:
from random import randint

In [38]:
randint(1,100)

67

In [39]:
randint(0,100)

63

In [40]:
randint(0,100)

73

In [41]:
mynum = randint(0,10)

In [43]:
mynum

1

In [50]:
result = int(input('Enter a number here: '))

Enter a number here: 50

In [51]:
type(result)

int

In [52]:
result

50

In [53]:
# list comprehensions

In [54]:
mystring = 'hello'

In [55]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [56]:
mylist

['h', 'e', 'l', 'l', 'o']

In [57]:
mylist=[letter for letter in mystring]

In [58]:
mylist

['h', 'e', 'l', 'l', 'o']

In [59]:
mylist = [x for x in 'word']

In [60]:
mylist

['w', 'o', 'r', 'd']

In [68]:
mylist = [num for num in range (0,11)]

In [67]:
num

[None, None, None, None, None, None, None, None, None, None, None]

In [71]:
mylist = [x**0.5 for x in range(0,11) if x%2 ==0]

In [72]:
mylist

[0.0,
 1.4142135623730951,
 2.0,
 2.449489742783178,
 2.8284271247461903,
 3.1622776601683795]

In [73]:
celcius = [ 0,10,20,34.5]
fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [74]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [77]:
celcius = [ 0,10,20,34.5]
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp+32)

In [78]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [80]:
mylist=[]
for x in[2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [81]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]